html {
  font-size: 16px;
  color: #586b8b;
  --brand: #4c6fff;
  --text-content: #586b8b;
  --text-title: #3d5586;
  --border-normal: #eceef7;
}
body {
  background: #0a092d;
}
.text-header {
  font-size: 3rem;
  font-weight: 500;
}

a {
  color: #ffffff;
}
a:hover {
  color: currentColor;
}
// input css
input {
  outline: none;
  padding: 12px 12px;
}
input::placeholder {
  color: #586b8b;
  font-weight: 700;
}
// modal css
.vm--modal {
  background-color: #2e3856 !important;
  top: 120px !important;
}
// css
.hover-card-item::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 6px;
  background-color: none;
  bottom: 0;
  left: 0;
  z-index: 10;
  margin: 0 auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.hover-card-item:hover::after {
  width: 100%;
  background-color: #eceef7;
}
